@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

body {
    /*background-color: #eee;*/
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    height: 100vh;
    overflow: auto;
    width: 100vw;
    /*background-color: white;*/
    /*min-height: 100vh;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: flex-end;*/
}

main ul {
    width: 700px;
    margin: auto;
    list-style-type: none;
    padding-bottom: 200px;
    padding-left: 0px;
}

li {
    margin-bottom: 50px;
}

header {
    display: flex;
    align-items: center;
}

h2 {
    margin: 0;
    color: #138248;
    font-weight: normal;
}

time {
    margin-right: 10px;
    margin-left: 5px;
    position: relative;
    margin-top: 3px;
}

p {
    text-align: justify;
    font-weight: 300;
}

[contenteditable] {
    box-sizing: border-box;
    padding: 5px;
    margin-top: 5px;
}

.entries {
    width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

main ul li {
    border: solid white 1px;
    box-sizing: border-box;
    border-radius: 5px;
    transition: border-color 1s;
    list-style-type: none;
}

main ul li:last-child {
    border-bottom-width: 0;
}

.calendar {
    position: fixed;
    height: 350px;
    top: 15px;
    left: 15px;
}

.addDay:hover {
    color: green;
    border: 2px solid #138248;
    background-color: white;
    border-radius: 50%;
    box-sizing: border-box;
}

.highlightDay {
    border-color: #2aabd2;
}

@media (max-width: 1300px) {
    #list-of-days {
        margin-left: 300px;
    }
}
